server:
  port: 9000

spring:
  application:
    name: authorization-server

  security:
    oauth2:
      authorizationserver:
        issuer: http://localhost:9000

logging:
  level:
    root: INFO
    com.ecommerce.authserver: DEBUG
    org.springframework.security: INFO
    org.springframework.security.oauth2: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always